body {
    background-image: url('../images/giraffe.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1400px;
    
}

.container {
    background-color: slategrey;
    width:50%;
    text-align: center;
}